.nav-item {
    text-transform: uppercase;
    align-items: center;
    padding: 0 3px;
}

.form-group{
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.15);
}

.container{
    background-color: rgb(145, 64, 64);
    border-radius: 4px;
    color: white;
}

.list-overflow-container{
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}
.mt-5{
    background-color: white;
    padding: 15px;
    color: black;
}
.jumbotron{
    color: black ;
    background-color: white;
}