.navbar{
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    height: 85px;
    top: 9px;
    justify-content: space-between;
    padding: 0 20px;
    margin: 2px auto 45px auto
}
.img-logo{
    height: 85px;
    width: 100px;
}